.menu_img{
    width: 300px;
    height: 200px;
}

.table{
    margin: 0px;
}

.my_btn {
    margin: 30px;
}

.item_btn{
    margin: 3px;
    height: 200px;
}
.slider_img{
    width: 100%;
    height: 660px;
}

.form_edit{
    margin: 30px;
}
